html {
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    --bg-image: url("../Images/background-blur.jpg");
    --color-light: #FFFFFF;
    --color-dark: #000000;
    --font: 'Lexend';
    color: var(--color-light);
    font-family: var(--font), Arial, Times, serif;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-size: 4vmin;
    font-weight: 400;
}

p {
    margin: 0;
    padding: 0;
}

#viewport_0 {
    background: var(--bg-image);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: 0;
    scroll-snap-type: y mandatory;
    z-index: 0;
}
#viewport_0::-webkit-scrollbar {
    display: none;
}

.page {
    position: relative;
    width: 100%;
    height: 100%;
    scroll-snap-align: start end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page_title {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 6vmin;
    font-weight: 500;
    width: 75%;
    margin-bottom: 2vw;
    text-transform: uppercase;
}
.page_title hr {
    border: none;
    border-top: .8vmin solid white;
    width: 100%;
    margin: 0 2vw;
}

#logo_menu {
    margin-top: -.5vw;
    font-size: 16vmin;
}
.logo_text_firstname {
    margin-bottom: -5vmin;
    font-weight: 600;
}
.logo_text_lastname {
    font-weight: 100;
}


#page_home p {
    position: absolute;
    bottom: 4vmin;
    font-size: 2vmin;
    opacity: .6;
}

.btn_next_page {
    display: none;
    fill-opacity: 0;
    cursor: pointer;
    position: absolute;
    bottom: 2vw;
    justify-content: center;
    align-items: center;
    width: 6vmin;
    height: 6vmin;
    border: .4vmin solid #FFFFFF;
    border-radius: 100%;
}
.btn_next_page:hover {
    fill-opacity: 1;
    background-color: #FFFFFF;
}
.btn_next_page img {
    width: 90%;
    height: 90%;
    filter: brightness(100);
}
.btn_next_page:hover img {
    filter: brightness(0);
}

.btn_previous_page {
    display: none;
    fill-opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 2vw;
    justify-content: center;
    align-items: center;
    width: 6vmin;
    height: 6vmin;
    border: .4vmin solid #FFFFFF;
    border-radius: 100%;
}
.btn_previous_page:hover {
    fill-opacity: 1;
    background-color: #FFFFFF;
}
.btn_previous_page img {
    width: 90%;
    height: 90%;
    filter: brightness(100);
}
.btn_previous_page:hover img {
    filter: brightness(0);
}

#menu_pages {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link_page {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3.5vmin;
    font-weight: 400;
}
.link_page:hover {
    font-weight: 600;
}

.btn_link_page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vmin;
    height: 15vmin;
    margin: 1vmin 3.5vmin;
    fill-opacity: 0;
    border-radius: 100%;
    border: .7vmin solid #FFFFFF;
}
.link_page:hover .btn_link_page {
    fill-opacity: 1;
    background-color: #FFFFFF;
}
.link_page:hover .btn_link_page img {
    filter: brightness(0);
}

.btn_link_page img {
    width: 70%;
    height: 70%;
    filter: brightness(100);
}

#projects_page_title {
    top: calc(50% - 27vmin);
}

#projects_list {
    width: 75vw;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 3vmin;
}

#projects_list::-webkit-scrollbar {
    display: none;
}

.projects_year {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects_year_list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vmin;
}

.projects_year_indicator {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 1vmin;
}
.projects_year_indicator p {
    font-size: 3.5vmin;
    font-weight: 400;
    margin-right: 2.8vmin;
    white-space: nowrap;
}
.projects_year_indicator hr {
    width: 100%;
    border: none;
    border-top: .5vmin solid #FFFFFF;
}

@keyframes select_project {
    from { width: 28vmin; height: 28vmin;}
    to { width: 32vmin; height: 32vmin;}
}
@keyframes deselect_project {
    from { width: 32vmin; height: 32vmin;}
    to { width: 28vmin; height: 28vmin;}
}
.btn_project {
    display: flex;
    align-items: end;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    animation: .2s deselect_project ease-out forwards;
    border-radius: 1vmin;
    overflow: hidden;
}
.btn_project:hover {
    animation: .2s select_project ease-in forwards;
    border-radius: 1vmin;
}

@keyframes select_project_name {
    from { opacity: 0;}
    to { opacity: 1;}
}
@keyframes deselect_project_name {
    from {opacity: 1;}
    to {opacity: 0;}
}
.btn_project_name {
    width: 100%;
    padding: .6vmin 1vmin;
    overflow: hidden;
    background: #FFFFFF;
    color: #000000;
    font-size: 3.5vmin;
    font-weight: 500;
    animation: .2s deselect_project_name ease-in forwards;
}
.btn_project:hover .btn_project_name {
    animation: .2s select_project_name ease-out forwards;
}

.horizontal_scroller {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vmin;
}

@keyframes select_scroll_button {
    from { height: 8vmin;}
    to { height: 28vmin;}
}
@keyframes deselect_scroll_button {
    from {height: 28vmin;}
    to {height: 8vmin;}
}

.scroll_button {
    background: #FFFFFF;
    width: 8vmin;
    height: 8vmin;
    margin-bottom: 5.4vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: .1s deselect_scroll_button linear forwards;
    border-radius: 1vmin;
}
.scroll_button img {
    width: 7vmin;
    height: 7vmin;
    filter: brightness(0);
}
.scroll_button:hover {
    animation: .1s select_scroll_button linear forwards;
}
.scroll_button::selection {
    animation: .1s select_scroll_button linear forwards;
}

/* Ratio changes */
@media (max-aspect-ratio: 1/1) {
    #viewport {
        scroll-snap-type: y mandatory;
    }

    #page_home p {
        display: none;
    }

    #menu_pages {
        flex-wrap: wrap;
        align-content: space-between;
        column-gap: 8vmin;
        row-gap: 5vmin;
        width: 60vmin;
    }
    .btn_link_page {
        width: 20vmin;
        height: 20vmin;
        max-width: 16vmax;
        max-height: 16vmax;
        border-width: .9vmin;
        margin-bottom: 2vmin;
    }
    .link_page {
        max-width: 20vmax;
        width: 25vmin;
        font-size: 4vmin;
    }

    .page_title {
        font-size: 3.5vmax;
    }
    .page_title hr {
        border-top: .6vmax solid white;
    }

    .btn_previous_page {
        width: 5vmax;
        height: 5vmax;
        margin-top: 1.5vmax;
        border: none;
    }
    .btn_next_page {
        width: 5vmax;
        height: 5vmax;
        margin-bottom: 1.5vmax;
        border: none;
    }

    #projects_page_title {
        top: calc(50% - 38vmax);
    }

    #projects_list {
        width: auto;
        height: 60vmax;
        overflow-y: auto ;
        overflow-x: hidden;
        scroll-snap-type: y mandatory;
    
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 1.5vmax;
    }
    
    .projects_year {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }
    
    .projects_year_list {
        display: flex;
        flex-direction: column;
        gap: 1.5vmax;
    }
    
    .projects_year_indicator {
        margin: 0;
        margin-right: 2vmax;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .projects_year_indicator p {
        margin: 0;
        margin-bottom: 1.1vmax;
        margin-top: -.6vmax;
        font-size: 2.5vmax;
        font-weight: 400;
    }
    .projects_year_indicator hr {
        margin: 0;
        width: 0;
        height: 100%;
        border: none;
        border-right: .5vmax solid #FFFFFF;
    }
    .scroll_button {
        display: none;
    }
    
    @keyframes select_project {
        from { width: 20vmax; height: 20vmax;}
        to { width: 22vmax; height: 22vmax;}
    }
    @keyframes deselect_project {
        from { width: 22vmax; height: 22vmax;}
        to { width: 20vmax; height: 20vmax;}
    }

    .btn_project_name {
        font-size: 2.5vmax;
        font-weight: 500;
        animation: .2s deselect_project_name ease-in forwards;
    }
}

#viewport_1 {
    display: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
}

#viewport_background {
    background: #00000055;
    width: 100%;
    height: 100%;
}

@keyframes open_project {
    from { margin-top: 100vh; opacity: 0; }
    to { margin-top: 0vh; opacity: 1; }
}
@keyframes close_project {
    from { margin-top: 0vh; opacity: 1; }
    to { margin-top: 100vh; opacity: 0; }
}

#popup_project {
    background: #000000;
    width: 90vmin;
    height: fit-content;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: absolute;
    animation: .25s open_project ease-in forwards;
    -ms-overflow-style: none;
    scrollbar-width: 0;
    border-radius: 1.5vmin;
}

#popup_project::-webkit-scrollbar {
    display: none;
}

#project_title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vmin;
    margin-top: 1vmin;
    margin-bottom: 1vmin;
    font-size: 4.5vmin;
    font-weight: 600;
}

#project_preview_slider {
    position: relative;
    width: 100%;
    height: fit-content;
}

#project_preview_slider_navigation {
    display: flex;
    width: 100%;
    height: 8vmin;
}

.project_preview_slider_scroll_button {
    background: #FFFFFF22;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.project_preview_slider_scroll_button img {
    width: 7vmin;
    height: 7vmin;
    filter: brightness(100);
}

.project_preview_slider_scroll_button:hover {
    background: #FFFFFFFF;
}
.project_preview_slider_scroll_button:hover img{
    filter: brightness(0);
}

.project_preview_slider_scroll_button::selection {
    background: #FFFFFFFF;
}
.project_preview_slider_scroll_button::selection img{
    filter: brightness(0);
}

#project_preview_list {
    width: 100%;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.project_preview_element {
    min-width: 90vmin;
    height: auto;
}

#project_embed {
    width: 960px;
    height: 660px;
}

#project_preview_element_1 {
    display: none;
}

#project_informations {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#project_description {
    width: calc(100% - 4vmin);
    margin-top: 2vmin;
    margin-bottom: 2vmin;
    font-size: 3vmin;
    font-weight: 300;
}